<%= form_with(model: [@board, list]) do |form| %>
  <% if @list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
      <ul>
        <% @list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div data-controller="tasks">
    <h5>New Tasks</h5>
    <div data-tasks-target="container">
      <%= form.fields_for :tasks do |task_fields| %>
        <%= render "task_fields", f: task_fields %>
      <% end %>
    </div>
    <template data-tasks-target="template">
      <%= form.fields_for :tasks, Task.new, child_index: "NEW_TASK" do |task_fields| %>
        <%= render "task_fields", f:task_fields %>
      <% end %>
    </template>
    <button class="btn btn-sm btn-outline-primary mt-2" type="button" data-action="click->tasks#add">
      Add Task
    </button>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>