<div id="<%= dom_id list %>" class="list bg-light border rounded p-3">
  <p>
    <strong><%= list.name %></strong>
    <%= list.row_order%>
  </p>
  <ul data-controller="sortable" data-sortable-group-value="tasks" data-sortable-list-id="<%= list.id %>">
    <% list.tasks.rank(:row_order).each do |task| %>
      <li data-sortable-update-url="<%= sort_task_path(task) %>" class="bg-white border rounded px-2 py-1 mb-2 shadow-sm">
        <%= render task%>
      </li>
    <% end %>
  </ul>
</div>