<p style="color: green"><%= notice %></p>
<%= render @list %>
<div>
  <%= link_to "Edit this list", edit_list_path(@list) %> |
  <%= link_to "Back to board", board_path(@board) %>
  <%= button_to "Destroy this list", [@board, @list], method: :delete %>
</div>
